<form method="post" action="{{ path('app_application_delete', {'id': application.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce rendez-vous?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ application.id) }}">
    <button class="btn">Supprimer</button>
</form>
