
<h1>Votre compte</p>
<p>Un compte a été crée sur notre site, veuillez vous connectez à l'aide de vos identifiants ci-dessous et changer votre mot de passe temporaire</p>
<p>Identifiant : {{identifiant}}</p>
<p>Mot de passe : {{password}}</p>




